<title>Michael Murray - Curriculum Vitae</title>

<link type="text/css" rel="stylesheet" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="assets/headshot.jpg" alt="Michael Murray" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Michael Murray</h1>
			<h2 class="quickFade delayThree">Full Stack Web Developer/ Software Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:michael@freeassoc.net" target="_blank">michael@freeassoc.net</a></li>
				<li>w: <a href="http://freeassoc.net">freeassoc.net</a></li>
				<li>m: +1.206.659.8590</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
          <p>I am excited by creating elegant software that delights users, regardless of whether the user is an end-user or another developer consuming an API that I have created. I have years of experience working on both <a href="http://msdn.microsoft.com/en-us/library/czefa0ke(v=vs.71).aspx">beautiful APIs</a> and <a href="http://msdn.microsoft.com/en-us/library/dd857506(VS.85).aspx">user experience/UX</a>.</p>
          <p>I play well with others, have strong written, verbal and interpersonal skills, and I love being part of a fast-moving agile team.</p>
          <p>I speak Danish (we lived in DK for 3 years) although it is fading with time back in the States, and I used to speak German and a smattering of French.</p>
          <p>I'm also a dad/husband, and as time permits a bicyclist and erstwhile musician. I'm quite intellectually curious and I code for fun as well.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Skills and Technologies</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
          <li><b>Ruby</b> and <b>Rails</b></li>
          <li><b>Javascript</b> incl KnockoutJS, jQuery</li>
          <li><b>.NET</b> ASP.NET MVC, WCF</li>
          <li><b>TDD</b> (Rspec, Cucumber, Jasmine, Test::Unit, NUnit etc.)</li>
          <li><b>Data and schema design</b> (PostgreSQL, MongoDB, SQLite, MySQL, MS SQL Server etc.)</li>
          <li><b>API Design</b> (Rails-API/Sinatra backends, .NET FxCop tool and Best Practices)</li>
          <li><b>Python</b> (recent only)</li>
          <li><b>C#</b>; <b>C++ and C</b> (not recent)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
          <h2>Owner/ Software Engineer at <a href="http://freeassoc.net">Free Associates LLC</a>, Seattle</h2>
					<np class="subDetails">April 2010 - Present</p>
          <p>Freelance consultant/software engineer.  Projects include the following:</p>
          <p><b><a href="http://www.hotelinsider.com/">Hotel Insider</a></b> - Currently building Ruby-based backend API for various web and mobile clients. Tools used: Sinatra, Rails-API, MongoDB, Versionist, RSpec, Heroku with Amazon S3 and Cloudfront CDN etc.</p>
          <p><b><a href="http://www.windermere.com/">Windermere Real Estate</a></b> - I designed and built Rails-based corporate blog system and contributed to real estate listings/photo galleries. Tools used: Ruby/Rails 3, PostGreSQL, RSpec, VCR for service cache, etc.</p>
          <p><b><a href="http://learnlive.com/">LearnLive, Inc.</a></b> - I designed and built a .NET-based Rules/Expert system for determining professional certification state-by-state. Tools used: .NET 3.x, MS SQL Server, Apache DataMapper, NUnit for tests.</p>
          <p><b><a href="http://www.omni-view.net/">Incisive Computing/ Omni-View</a></b> - I re-archtected a legacy app for containers/shipping fleet mamagent so that it could be used on-premise or cloud-based. Tools used: .NET Entity Framework 4, WCF, MS SQL Server, ASP.NET.</p>
				</article>
				
				<article>
          <h2>Senior Program Manager at <a href="http://www.microsoft.com">Microsoft</a>/Redmond and <a href="http://www.microsoft.com/da-dk/mdcc/default.aspx">Copenhagen</a>, Denmark)</h2>
					<p class="subDetails">June 1999 - March 2011</p>
          <p>Stuff about Microsoft, products, projects I worked on etc.</p>
				</article>
				
				<article>
          <h2>Director of Development/ CTO at <a href="/ngn_comdex">Next Generation Network</a>, Minneapolis, MN</h2>
					<p class="subDetails">October 2004 - December 2006</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
        </article>
        <article>
          <h2>Software Engineer at <a href="http://www.georgekonik.com/">George Konik Associates</a>, Edina, MN<h2>
          <p class="subDetails">1991</p>
        </article>
	      <article>
          <h2>Software Engineer at <a href="http://www.ncr.com/">NCR Network Products Division</a>, St.Paul, MN<h2>
          <p class="subDetails">1987-1991</p>
        </article>
	      <article>
          <h2>Programmer at Clearwater Data Systems and Sentinal Inc., Minneapolis, MN<h2>
          <p class="subDetails">1987</p>
        </article>
	      <article>
          <h2>Programmer at B-Tree Software, Wyzata, MN<h2>
          <p class="subDetails">1985</p>
        </article>
			</div>
			<div class="clear"></div>
		</section>
		
			<section>
			<div class="sectionTitle">
				<h1>US Patents</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Patent 1</h2>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
		   </div>
			<div class="clear"></div>
		</section>
		
	
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
				
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
