<title>Michael Murray - Curriculum Vitae</title>

<link type="text/css" rel="stylesheet" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="assets/headshot.jpg" alt="Michael Murray" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Michael Murray</h1>
			<h2 class="quickFade delayThree">Full Stack Web Developer/ Software Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:michael@freeassoc.net" target="_blank">michael@freeassoc.net</a></li>
				<li>w: <a href="http://freeassoc.net">freeassoc.net</a></li>
				<li>m: +1.206.659.8590</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
          <p>I am excited by creating elegant software that delights users, regardless of whether the user is an end-user or another developer consuming an API that I have created. I have years of experience working on both <a href="http://msdn.microsoft.com/en-us/library/czefa0ke(v=vs.71).aspx">beautiful APIs</a> and <a href="http://msdn.microsoft.com/en-us/library/dd857506(VS.85).aspx">user experience/UX</a>.</p>
          <p>I play well with others, have strong written, verbal and interpersonal skills, and I love being part of a fast-moving agile team.</p>
          <p>I speak Danish (we lived in DK for 3 years) although it is fading with time back in the States, and I used to speak German and a smattering of French.</p>
          <p>I'm also a dad/husband, and as time permits a bicyclist and erstwhile musician. I'm quite intellectually curious and I code for fun as well.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Skills and Technologies</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
          <li><b>Ruby</b> and <b>Rails</b></li>
          <li><b>Javascript</b> incl KnockoutJS, jQuery</li>
          <li><b>.NET</b> ASP.NET MVC, WCF</li>
          <li><b>TDD</b> (Rspec, Cucumber, Jasmine, Test::Unit, NUnit etc.)</li>
          <li><b>Data and schema design</b> (PostgreSQL, MongoDB, SQLite, MySQL, MS SQL Server etc.)</li>
          <li><b>API Design</b> (Rails-API/Sinatra backends, .NET FxCop tool and Best Practices)</li>
          <li><b>Python</b> (recent only)</li>
          <li><b>C#</b>; <b>C++ and C</b> (not recent)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
          <h2>Owner/ Software Engineer at <a href="http://freeassoc.net">Free Associates</a>, Seattle</h2>
					<np class="subDetails">April 2010 - Present</p>
          <p>Freelance consultant/software engineer.  Projects include the following:</p>
          <p><b><a href="http://www.hotelinsider.com/">Hotel Insider</a></b> - Currently building Ruby-based backend API for various web and mobile clients. Tools used: Sinatra, Rails-API, MongoDB, Versionist, RSpec, Heroku with Amazon S3 and Cloudfront CDN etc.</p>
          <p><b><a href="http://www.windermere.com/">Windermere Real Estate</a></b> - I designed and built Rails-based corporate blog system and contributed to real estate listings/photo galleries. Tools used: Ruby/Rails 3, PostGreSQL, RSpec, VCR for service cache, etc.</p>
          <p><b><a href="http://learnlive.com/">LearnLive, Inc.</a></b> - I designed and built a .NET-based Rules/Expert system for determining professional certification state-by-state. Tools used: .NET 3.x, MS SQL Server, Apache DataMapper, NUnit for tests.</p>
          <p><b><a href="http://www.omni-view.net/">Incisive Computing/ Omni-View</a></b> - I re-archtected a legacy app for containers/shipping fleet mamagent so that it could be used on-premise or cloud-based. Tools used: .NET Entity Framework 4, WCF, MS SQL Server, ASP.NET.</p>
				</article>
				<article>
          <h2>Senior Software Engineer at <a href="http://www.tailorwell.com"><b>Tailorwell</b></a>, Seattle</h2>
					<p class="subDetails">April 2012 - March 2013</p>
          <p>At Tailorwell I was lead engineer for a team of 3-4 developers and contract engineers creating <a href="https://www.tailorwell.com/how-it-works"><b>Tailorwell Marketplace</b></a>, a service-based turnkey system for buying employee benefits such as medical, dental and life insurance.</p>
          <p>We created the Heroku-hosted Rails app for Tailorwell from the ground up working with a Seattle-based visual design firm.</p>
          <p>The product went live in December 2012 and is currently preparing for a much-larger scale-out in 2013.</p>
          <p>Tools/technologies included: Rails 3, Twitter Bootstrap, KnockoutJS for MVVM, PostGreSQL, Jenkins CI build server, RSpec for Ruby tests and Jasmine for javascript tests, NewRelic for performance monitoring.</p>
				</article>
				
				<article>
          <h2>Senior Program Manager at Microsoft <a href="http://www.microsoft.com">Redmond</a> and <a href="http://www.microsoft.com/da-dk/mdcc/who_are_we/proud_pioneers.aspx">Copenhagen</a>, Denmark)</h2>
          <p class="subDetails"><b>1999 - 2010</b></p>
          <p>I worked on and shipped lots of cool stuff at Microsoft, and I also got to work with some very smart and talended people. After 11 years though, I was drawn back to 'pure development' which gives me great creative joy, and smaller, more agile teams where you have to wear different hats at different times, and do everything!</p>
          <p>While at Microsoft I shipped:</p>
          <p class "subDetails"><a href="http://office.microsoft.com/en-us/visio/"><b>Visio</b></a> in 2001/2002. I worked on SVG, the XML file format, 'Save to Web' features as well as a 'Next-Generation Visio' design with team architects.</p>
	        <p class "subDetails"><a href="http://www.microsoft.com/net"><b>.NET Framework</b></a> in 2003/2004. I worked on the Base Class Libraries (BCL), FxCop tool and created a 14-part Designing .NET Class Libraries course and some of the design guidelines for .NET code.</p>
          <p class "subDetails"><a href="http://www.microsoft.com/en-us/dynamics/erp-ax-overview.aspx"><b>Dynamics Client</b></a> from 2004-2007 in Copenhagen. I was part of a small team that created a <a href="http://arstechnica.com/information-technology/2008/06/microsoft-dynamics-ax-2009-adds-ten-core-features/">common client and UX</a> for three different Dynamics CRM products.</p>
          <p class "subDetails">I also worked on <a href="http://www.zoliblog.com/2008/06/05/microsofts-aborted-baby-the-first-web-office-almost/"><b>NetDocs</b></a> (a SaaS-based Office) owning the extension/plugin architecture, and <a href="http://visualstudiomagazine.com/blogs/redmond-review/2010/09/death-of-oslo.aspx"><b>Oslo</b></a> (a graphical DSL and modeling tool) which did not ship, although I received patents for some of my work on those projects.</p>
				</article>
				
				<article>
          <h2>Director of Development/ CTO at <a href="/ngn_comdex">Next Generation Network</a>, Minneapolis, MN</h2>
					<p class="subDetails">1991 - 1999</p>
          <p>At NGN I went from a contract software engineer creating sockets-based applications to Director of Development in 1995 and CTO in 1996.  I was the primary architect and implementor (along with my team of four developers and two contract developers) of what was at the time "the largest out-of-home digital advertising network in the US".</p>
          <p>NGN was a 'push-media network' that sent news/weather/sports scores/lottery results as well as advertisements to thousands of locations across the US, mostly 7-11 stores, but also news kiosks and transit stations.</p>
          <p>We created lots of software machinery to enable NGN including web-based clients for buying ads and job tracking/workflow for graphic artists, a custom sliding-window PPP protocol to deliver media over phone, a remote media player and comm client running in store locations and lots more.</p>
          <p>NGN raised approx. $115M in venture capital and we <a href="/ngn_comdex">won 'Best Application' at the 1999 Comdex Windows World Open competition</a>.</p>
          <p>My work there was mostly C++/MFC for services and MTS/DCOM with (D)HTML and javascript-based clients and lots and lots of SQL Server tuning and redundancy.</p>
          <p>NGN was <a href="http://www.filmjournal.com/filmjournal/esearch/article_display.jsp?vnu_content_id=1000692818">purchased by Regal Cinema Chain in 2001</a> and is now used throughout theaters in the US to deliver digital media content before feature films.</p>
          <p>
        </article>
        <article>
          <h2>Software Engineer at <a href="http://www.georgekonik.com/">George Konik Associates</a></h2>
          <p class="subDetails">1991</p>
          <p>Win32 C language POP mail notifier for a large biotech firm.</p>
        </article>
	      <article>
          <h2>Software Engineer at <a href="http://www.ncr.com/">NCR</a></h2>
          <p class="subDetails">1987-1991</p>
          <p>First post-college gig. Started with developing HR apps using Oracle, moving on to source code librarian role for network front-end hardware.</p>
        </article>
	      <article>
          <h2>Programmer at Clearwater Data Systems</h2>
          <p class="subDetails">1986-1987</p>
          <p>Created inventory control system for arts supply store while still at Uni using Foxbase/Unix and modified AR/AP modules for cabinetry company.</p>
        </article>
	      <article>
          <h2>Programmer at B-Tree Software</h2>
          <p class="subDetails">1985</p>
          <p>My first programming gig while still at Uni. Wrote file I/O routines using K&R C/ Lattice C compiler for larger application.</p>
        </article>
			</div>
			<div class="clear"></div>
		</section>
		
			<section>
			<div class="sectionTitle">
				<h1>US Patents</h1>
			</div>
			
			<div class="sectionContent">
        <article>
          <p></p><p></p>
 	        <a href="http://www.google.com/patents/US8001155"><b>Hierarchically presenting tabular data</b></a><br>
 	        <a href="http://www.google.com/patents/US20040172584"><b>Method and system for enhancing paste functionality of a computer software application</b></a><br>
          <a href="http://www.google.com/patents/US7392522"><b>Architecture and Methods of Providing Network-Based Software Extensions</b></a><br>
          <a href="http://www.google.com/patents/US7000230"><b>Network-Based Software Extensions</b></a><br>
	        <a href="http://www.google.com/patents/US6874143"><b>Architectues for and methods of providing network-based software extensions</b></a><br>
          <p></p><p><b>Patents Pending:</b><br></p>
	        <a href="http://www.faqs.org/patents/app/20110119605"><b>Dynamic Editors for Functionally Composed UI</b></a><br>
          <a href="http://www.faqs.org/patents/app/20100125825"><b>Diagram Layout Patterns</b></a><br>
 	        <a href="http://www.faqs.org/patents/app/20110191362"><b>Composing Views with Automatic Creation of Links</b></a><br>
 	        <a href="http://www.faqs.org/patents/app/20090284549"><b>Configurable View on Data Models</b></a><br>
 	        <a href="http://www.faqs.org/patents/app/20090287724"><b>Data Viewer Management</b></a><br>
          <p></p><p></p>
 			</article>
		   </div>
			<div class="clear"></div>
		</section>
		
	
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
          <h2><a href="http://www1.umn.edu/twincities/index.html">University of Minnesota, Twin Cities</a></h2>
					<p class="subDetails">1984-1987: Completed Bachelor of Arts in Mathematics with Computer Science Emphasis</p>
				</article>
				
				<article>
          <h2><a href="http://www.columbia.edu/">Columbia University</a></h2>
					<p class="subDetails">1982: English / Journalism coursework</p>
				</article>
				<article>
          <h2><a href="http://www.sunyrockland.edu/">SUNY Rockland</a></h2>
          <p class="subDetails">1980-1982: Associate's Degree/English. Mentor/Talented Student Honors Program. Editor-in-Chief, college newspaper.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
