%h1 Testimonials from Clients and Coworkers

%h2 Client of Free Associates LLC

“Michael is an excellent software engineer. The quality of his work and his organized approach demonstrate his deep experience in the field. He stays up-to-date on the latest technologies and architectural best practices. He is also very committed to building and maintaining automated tests for all of his code. 

Michael has been great to work with, and I would definitely recommend him to anyone looking for a top-notch senior level developer.” 
%br
%h3
  %i
    March 5, 2012
    %br
    Mark Carlson, Vice President of Software Engineering, Windermere Solutions LLC
%br
“Michael joined our team at LearnLive to take over architecture and development of a major in-house application and system. This custom application involved extensive industry-specific knowledge that needed to be acquired in a short amount of time, with requirements that made complex architecture design decisions a necessity. 

Michael was up to the task and aided the development team in bringing the application to market and helping to navigate some difficult areas in problem resolution.” 
%br
%h3
  %i
    October 19, 2011
    %br
    Top qualities: Personable, Expert, High Integrity
    %br
    Jeff Rodenburg - hired Michael as a Software developer in 2010
%br
“My company hired Michael to assist with architectural review and strategy planning for a new version rollout. We had very little remaining budget for the effort and an impossible timeline. Despite these obstacles, and with no prior knowledge of our particular application, Michael was instrumental in getting our project on track, while refining our application architecture to employ current industry best practices and methodologies. Michael's in depth knowledge, outstanding productivity, and clear communications made him a huge addition to the team.” 
%br
%h3
  %i
    November 11, 2010
    %br
    Top qualities: Great Results, Expert, On Time
    Jim Kapitzke - hired Michael as a IT Consultant in 2010
%br
%h2 Coworkers at Microsoft
%br

“Michael and I worked together for several years on CLR features as well as the FxCop tool. 


His major accomplishments during that time include: 

• Driving API reviews of teams shipping .NET code. 
• Convincing many teams at Microsoft to adopt the FxCop tool in their development process 
• Gathering technical requirements for the FxCop tool. 


Michael has an unique asset in that he is skilled in both technical and process/people matters. This makes him a great all-round person who works well on a team with limited resources. Especially as he is very capable of juggling many tasks. 


In order words, he knows how to get things done! 


Even though I no longer have the pleasure of working with Michael on a day-to-day basis, our working relationship has grown into a continuing friendship.” 
%br
%h3
  %i
    August 20, 2010
    %br
    Jeffrey van Gogh, Senior Software Engineer/ Tech Lead, Google - worked directly with Michael at Microsoft
%br
%h2 for my work as Senior Program Manager, Microsoft Denmark
%br
“Michael is one of the best Program Managers and individuals that I have worked with. I had the pleasure working with Michael on various projects. Michael has a great technical background as a developer and PM and is also creative in terms of user experience as well. I worked with Michael building the Dynamics 2008 “Common Client”, which shipped as the role-tailored client for Microsoft Dynamics products (NAV, AX and GP). 
Michael collaborated with multiple teams across Microsoft as part of this project. The project was very successful and some of that is due to Michael being great program manager with really good communication skills. 
Michael has a long experience in the software business and knows quality software development process well. I would definitely not hesitate to recommend him.” 
%br
%h3
  %i
    September 12, 2010
    %br
    Erlingur Jonsson, User Experience Architect, SiteCore -- worked directly with Michael at Microsoft Denmark
%br
%h2 for my work as Program Manager, Microsoft
“Michael was the PM and I was the dev lead on the next generation Visio project and a project to support SVG in Visio that was based on the new technology. As such we worked hand and hand for months on vision documents, file format specs and both technical and business concepts. He's super smart and passionate, with excellent communication skills and technical insight. I also worked with Michael in less direct roles when he was a PM on NetDocs and later .NET framework and FxCop. He's done an excellent job every place I've encountered him and is a pleasure to work with.” 
%br
%h3
  %i
    August 28, 2010
    %br
    John Gossman, Partner Architect, Microsoft -- worked directly with Michael at Microsoft
%br
%h2 Colleagues at Next Generation Network (NGN)
“Michael was a hardcore programmer and architected our system from the ground up. He was skilled at explaining design and workflow at both technical and managerial levels, and distributed the workload evenly taking individual strengths into account. Michael was approachable and encouraged creativity by sharing design and listening to suggestions for new ways of solving problems or improving processes. He was excited by new technology and always sought to offer users clean, efficient, and intuitive interfaces.” 
%br
%h3
  %i
    September 16, 2010
    %br
    Joseph Agee, DBA, Next Generation Network (NGN) -- reported to Michael
%br
“Michael and I were co-workers on a software development team at NGN (before it was called that). Michael quickly impresses you as intellectually very sharp and creative, but not at all in an arrogant way. He was always a team player whose easy-going manner made it easy for other team members to work with him. There are always hurdles to overcome when using cutting-edge technology, and Michael is a technically skilled problem-solver who perseveres through to successful implementation. He is also a very adept and clear communicator; I always enjoyed our conversations whether they were work or personal. I have no reservations about recommending him!” 
%br
%h3
  %i
    September 15, 2010 - Brent Nordquist, Software Engineer -- worked directly with Michael at Next Generation Network (NGN)
%br
“Michael is an a amazing asset to any technology team. He brings a unique blend of sharp technical skills and excellent grasp of human behavior. His sense of humor and diligence assures he produces top-quality work and consistent team leadership.” 
%br
%h3
  %i
  August 26, 2010
  %br
  Ted Collins, EVP Software, Divine Inc. -- managed Michael at Next Generation Network (NGN)
%br
“For several years, I worked on contract for Mr. Murray on a large project. He impressed me with his ability to not only architect and implement solutions, but manage a development team, and interface with the rest of the company at the same time. The product went on to win 'Best Application' at Windows World, enabled the company to raise over $100M in venture capital, and was finally bought out by another large company. 

The product required a lot of technologies that simply didn't exist in the late 90's to be created. Since the real time nature of the application needed to be assured, fail-safe hardware and custom drivers were designed. New reliable network protocols (over dial-up!) were created, along with management of databases that were considered HUGE in those days. Technologies that are mainstream now barely existed then, but were used: GPS mapping, Web interfaces for traveling sales teams. 
Consider what it took to deliver customized multimedia to 8,000 machines, 3 times a day, in multiple states, across a modem! 

Despite the pressure of making that all happen, he was always the consummate professional, as well as being an enjoyable person to work for.” 
%br
%h3
  %i
    August 25, 2010
    %br
    Joe Lepore, President, Rapid Software Solutions, Inc. - worked for Michael at Next Generation Network (NGN)
%br
“I worked alongside Michael Murray at Next Generation Network (NGN) during some exhilarating times in the late '90's. Starting with a raw business concept, Michael and his dedicated team architected, developed and deployed the first enterprise class digital signage solution to scale to thousands of sites. 

Despite technology limitations of '90's (when viewed from the perspective of today's development suites), Michael lead his team through the development process of a true multi-tier, secure, scalable, extensible and high-availability multimedia platform. To say this was cutting edge at that time is understatement to the extreme. Others agreed. In 1999, NGN won the Telecommunications Award in the Comdex Windows World Open Competition! The fact that Michael won over the judges was no surprise.  Michael earned, the confidence and admiration of the executive team at NGN, which resulted in opportunities to extend the functionality of the NGN platform. 

Ultimately, his effort resulted in a network of 7,400 sites spread across three continents -- absolutely dwarfing the closest competition. 

If you are looking for a person that will deliver on your expectations, in a professional manner, go no further. Michael Murray is the person you're looking for.” 
%br
%h3
  %i
    August 25, 2010
    %br
    Brian Walker, Director of MIS - worked with Michael at Next Generation Network
